# roles/nova/templates/nova.conf.j2

[DEFAULT]
transport_url = rabbit://openstack:RABBIT_PASS@controller
my_ip = {{ ansible_default_ipv4.address }}
use_neutron = True
firewall_driver = nova.virt.firewall.NoopFirewallDriver
